# transformations

This notebook contains mostly proof of concepts for the transformations supported by AVATAR.

In [1]:
%reload_ext autoreload
%autoreload 2

import pandas as pd

Load some datasets.

In [2]:
nba = pd.read_csv("../data/raw/demo/nba.csv")
display(nba.head())

automobile = pd.read_csv("../data/raw/demo/automobile.csv", header=None)
automobile["brand"] = automobile[2].astype("category")
display(automobile.head())

titanic = pd.read_csv("../data/raw/demo/titanic.csv")
display(titanic.head())

,SEASON_ID,TEAM_ABBREVIATION,PLAYER_ID,PLAYER,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,PLAYER_AGE,...,FG3_PCT,FTM,FTA,FT_PCT,REB,AST,STL,BLK,PTS,a_lbl
0,2018-19,LAL,1628398,Kyle Kuzma,0,F,6-9,220,"JUL 24, 1995",23,...,0.303,188,250,0.752,382,178,41,26,1308,0
1,2018-19,LAL,203484,Kentavious Caldwell-Pope,1,G,6-5,205,"FEB 18, 1993",26,...,0.347,137,158,0.867,238,110,73,13,938,0
2,2018-19,LAL,1628366,Lonzo Ball,2,G,6-6,190,"OCT 27, 1997",21,...,0.329,20,48,0.417,251,255,69,19,465,0
3,2018-19,LAL,1628404,Josh Hart,3,G,6-5,215,"MAR 06, 1995",24,...,0.336,55,80,0.688,248,93,64,40,525,0
4,2018-19,LAL,1627936,Alex Caruso,4,G,6-11,186,"FEB 28, 1994",25,...,0.480,51,64,0.797,67,77,24,9,229,0

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,brand
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,alfa-romero
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,alfa-romero
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,alfa-romero
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,audi
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,audi

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## string

String to string transformations.

In [3]:
from avatar.transformations.string import *

In [25]:
arguments = Split.arguments(nba.BIRTH_DATE)

# run and show
new = nba.BIRTH_DATE.to_frame()
for argument in arguments:
    new = pd.concat((new, Split(*argument)(nba.BIRTH_DATE)), axis=1)

display(new)

      BIRTH_DATE       0      1       0     1    0    1     2
0   JUL 24, 1995  JUL 24   1995  JUL 24  1995  JUL  24,  1995
1   FEB 18, 1993  FEB 18   1993  FEB 18  1993  FEB  18,  1993
2   OCT 27, 1997  OCT 27   1997  OCT 27  1997  OCT  27,  1997
3   MAR 06, 1995  MAR 06   1995  MAR 06  1995  MAR  06,  1995
4   FEB 28, 1994  FEB 28   1994  FEB 28  1994  FEB  28,  1994
5   OCT 02, 1982  OCT 02   1982  OCT 02  1982  OCT  02,  1982
6   SEP 05, 1990  SEP 05   1990  SEP 05  1990  SEP  05,  1990
7   JAN 19, 1988  JAN 19   1988  JAN 19  1988  JAN  19,  1988
8   FEB 22, 1986  FEB 22   1986  FEB 22  1986  FEB  22,  1986
9   APR 09, 1995  APR 09   1995  APR 09  1995  APR  09,  1995
10  SEP 02, 1997  SEP 02   1997  SEP 02  1997  SEP  02,  1997
11  APR 26, 1997  APR 26   1997  APR 26  1997  APR  26,  1997
12  NOV 08, 1999  NOV 08   1999  NOV 08  1999  NOV  08,  1999
13  MAY 22, 1995  MAY 22   1995  MAY 22  1995  MAY  22,  1995
14  DEC 30, 1984  DEC 30   1984  DEC 30  1984  DEC  30,  1984
15  JUL 01, 1991  JUL 01   1991  JUL 01  1991  JUL  01,  1991
16  MAR 16, 1991  MAR 16   1991  MAR 16  1991  MAR  16,  1991

In [52]:
from avatar.transformations.string import SplitAlign

In [53]:
SplitAlign.arguments(titanic.Name)

[]

In [21]:
c = nba.BIRTH_DATE

display(SplitAlign.arguments(c))

for argument in SplitAlign.arguments(c):
    sa = SplitAlign(*argument)
    display(sa(c))
    display(sa.call2(c))

{(' ',), (',',), (', ',)}

,JUL,"24,",1995,FEB,"18,",1993,OCT,"27,",1997,MAR,...,NOV,"08,",1999,MAY,DEC,"30,",1984,"01,",1991,"16,"
0,JUL,"24,",1995,,,,,,,,...,,,,,,,,,,
1,,,,FEB,"18,",1993,,,,,...,,,,,,,,,,
2,,,,,,,OCT,"27,",1997,,...,,,,,,,,,,
3,,,1995,,,,,,,MAR,...,,,,,,,,,,
4,,,,FEB,,,,,,,...,,,,,,,,,,
5,,,,,,,OCT,,,,...,,,,,,,,,,
6,,,,,,,,,,,...,,,,,,,,,,
7,,,,,,,,,,,...,,,,,,,,,,
8,,,,FEB,,,,,,,...,,,,,,,,,,
9,,,1995,,,,,,,,...,,,,,,,,,,
10,,,,,,,,,1997,,...,,,,,,,,,,
11,,,,,,,,,1997,,...,,,,,,,,,,
12,,,,,,,,,,,...,NOV,"08,",1999,,,,,,,
13,,,1995,,,,,,,,...,,,,MAY,,,,,,
14,,,,,,,,,,,...,,,,,DEC,"30,",1984,,,
15,JUL,,,,,,,,,,...,,,,,,,,"01,",1991,
16,,,,,,,,,,MAR,...,,,,,,,,,1991,"16,"

,"01,","02,","05,","06,","08,","09,","16,","18,","19,",1982,...,APR,DEC,FEB,JAN,JUL,MAR,MAY,NOV,OCT,SEP
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
6,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
10,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
15,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
16,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0

,JUL 24,1995,FEB 18,1993,OCT 27,1997,MAR 06,FEB 28,1994,OCT 02,...,SEP 02,APR 26,NOV 08,1999,MAY 22,DEC 30,1984,JUL 01,1991,MAR 16
0,JUL 24,1995,,,,,,,,,...,,,,,,,,,,
1,,,FEB 18,1993,,,,,,,...,,,,,,,,,,
2,,,,,OCT 27,1997,,,,,...,,,,,,,,,,
3,,1995,,,,,MAR 06,,,,...,,,,,,,,,,
4,,,,,,,,FEB 28,1994,,...,,,,,,,,,,
5,,,,,,,,,,OCT 02,...,,,,,,,,,,
6,,,,,,,,,,,...,,,,,,,,,,
7,,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,
9,,1995,,,,,,,,,...,,,,,,,,,,
10,,,,,,1997,,,,,...,SEP 02,,,,,,,,,
11,,,,,,1997,,,,,...,,APR 26,,,,,,,,
12,,,,,,,,,,,...,,,NOV 08,1999,,,,,,
13,,1995,,,,,,,,,...,,,,,MAY 22,,,,,
14,,,,,,,,,,,...,,,,,,DEC 30,1984,,,
15,,,,,,,,,,,...,,,,,,,,JUL 01,1991,
16,,,,,,,,,,,...,,,,,,,,,1991,MAR 16

,1982,1984,1986,1988,1990,1991,1993,1994,1995,1997,...,JUL 01,JUL 24,MAR 06,MAR 16,MAY 22,NOV 08,OCT 02,OCT 27,SEP 02,SEP 05
0,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
11,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
14,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

,JUL 24,1995,FEB 18,1993,OCT 27,1997,MAR 06,FEB 28,1994,OCT 02,...,SEP 02,APR 26,NOV 08,1999,MAY 22,DEC 30,1984,JUL 01,1991,MAR 16
0,JUL 24,1995,,,,,,,,,...,,,,,,,,,,
1,,,FEB 18,1993,,,,,,,...,,,,,,,,,,
2,,,,,OCT 27,1997,,,,,...,,,,,,,,,,
3,,1995,,,,,MAR 06,,,,...,,,,,,,,,,
4,,,,,,,,FEB 28,1994,,...,,,,,,,,,,
5,,,,,,,,,,OCT 02,...,,,,,,,,,,
6,,,,,,,,,,,...,,,,,,,,,,
7,,,,,,,,,,,...,,,,,,,,,,
8,,,,,,,,,,,...,,,,,,,,,,
9,,1995,,,,,,,,,...,,,,,,,,,,
10,,,,,,1997,,,,,...,SEP 02,,,,,,,,,
11,,,,,,1997,,,,,...,,APR 26,,,,,,,,
12,,,,,,,,,,,...,,,NOV 08,1999,,,,,,
13,,1995,,,,,,,,,...,,,,,MAY 22,,,,,
14,,,,,,,,,,,...,,,,,,DEC 30,1984,,,
15,,,,,,,,,,,...,,,,,,,,JUL 01,1991,
16,,,,,,,,,,,...,,,,,,,,,1991,MAR 16

,1982,1984,1986,1988,1990,1991,1993,1994,1995,1997,...,JUL 01,JUL 24,MAR 06,MAR 16,MAY 22,NOV 08,OCT 02,OCT 27,SEP 02,SEP 05
0,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
11,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
14,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [97]:
from avatar.transformations.string import ExtractWord

ewa = ExtractWord.arguments(titanic.Cabin)
ewa

[({'A', 'B', 'C', 'D', 'E', 'F', 'G'},)]

In [95]:
ExtractWord.arguments(nba.POSITION)

G 8
F 6
C 3

[({'C', 'F', 'G'},)]

In [96]:
ExtractWord.arguments(titanic.Name)

[({'Dr', 'Master', 'Miss', 'Mr', 'Mrs', 'Rev'},)]

In [33]:
ew = ExtractWord(ewa[0])

In [87]:
titanic.Cabin.drop_duplicates()

0       NaN
1       C85
3      C123
6       E46
10       G6
       ...
857     E17
867     A24
879     C50
887     B42
889    C148
Name: Cabin, Length: 148, dtype: object

In [34]:
ew(titanic.Name)

        0
0      Mr
1      Mr
2    Miss
3      Mr
4      Mr
..    ...
882   Rev
883  Miss
884  Miss
885    Mr
886    Mr

[887 rows x 1 columns]

### ExtractNumber

Extract numbers from text.

In [82]:
from avatar.transformations.string import ExtractNumber


test_column = automobile[1]

# get argumnets
arguments = ExtractNumber.arguments(test_column)
print(arguments)

# run and show
new = test_column.to_frame()
for argument in arguments:
    new[str(argument)] = ExtractNumber(*argument)(test_column)

display(new)

{'(?:^|\\D)(\\d+)(?:\\D|$)', '(?:^|\\D)(\\d{3})(?:\\D|$)', '(?:^|\\D)(\\d{2})(?:\\D|$)', '([-+]?(?:(?:\\d*\\.\\d+)|(?:\\d+\\.?))(?:[Ee][+-]?\\d+)?)'}
[]

       1
0      ?
1      ?
2      ?
3    164
4    164
..   ...
200   95
201   95
202   95
203   95
204   95

[205 rows x 1 columns]

In [100]:
ExtractNumber.arguments(titanic.Cabin)

(?:^|\D)(\d{1})(?:\D|$)      0
10   1
23   1
148  1
151  1
194  1
275  1
724  1
26 7
(?:^|\D)(\d{2})(?:\D|$)      0
1    1
6    1
21   1
27   3
31   1
66   1
75   1
97   2
118  2
128  1
185  1
297  2
311  4
679  3
26 14
(?:^|\D)(\d+)(?:\D|$)      0
1    1
3    1
6    1
10   1
21   1
23   1
27   3
31   1
66   1
75   1
97   2
118  2
123  1
128  1
148  1
151  1
185  1
194  1
275  1
297  2
311  4
679  3
724  1
737  1
26 24
([-+]?(?:(?:\d*\.\d+)|(?:\d+\.?))(?:[Ee][+-]?\d+)?)      0
1    1
3    1
6    1
10   1
21   1
23   1
27   3
31   1
66   1
75   1
97   2
118  2
123  1
128  1
148  1
151  1
185  1
194  1
275  1
297  2
311  4
679  3
724  1
737  1
26 24
(?:^|\D)(\d{3})(?:\D|$)      0
3    1
123  1
737  1
26 3

[]

In [102]:
titanic.Cabin.to_list()

[nan,
 'C85',
 nan,
 'C123',
 nan,
 nan,
 'E46',
 nan,
 nan,
 nan,
 'G6',
 'C103',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D56',
 nan,
 'A6',
 nan,
 nan,
 nan,
 'C23 C25 C27',
 nan,
 nan,
 nan,
 'B78',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D33',
 nan,
 'B30',
 'C52',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B28',
 'C83',
 nan,
 nan,
 nan,
 'F33',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'F G73',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C23 C25 C27',
 nan,
 nan,
 nan,
 'E31',
 nan,
 nan,
 nan,
 'A5',
 'D10 D12',
 nan,
 nan,
 nan,
 nan,
 'D26',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C110',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B58 B60',
 nan,
 nan,
 nan,
 nan,
 'E101',
 'D26',
 nan,
 nan,
 nan,
 'F E69',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D47',
 'C123',
 nan,
 'B86',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'F2',
 nan,
 nan,
 'C2',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E33',
 nan,
 nan,
 nan,
 'B19',
 nan,
 nan,
 nan,
 'A7',
 nan,
 nan,
 'C49',
 nan,
 nan,
 nan,
 nan,
 nan,
 'F4',
 nan,
 'A32',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'F2',
 'B4',
 'B80',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'G6',
 nan,
 nan,
 nan,
 'A31',
 nan,
 nan,
 nan,
 nan,
 nan,
 'D36',
 nan,
 nan,
 'D15',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C93',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C83',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C78',
 nan,
 nan,
 'D35',
 nan,
 nan,
 'G6',
 'C87',
 nan,
 nan,
 nan,
 nan,
 'B77',
 nan,
 nan,
 nan,
 nan,
 'E67',
 'B94',
 nan,
 nan,
 nan,
 nan,
 'C125',
 'C99',
 nan,
 nan,
 nan,
 'C118',
 nan,
 'D7',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'A19',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B49',
 'D',
 nan,
 nan,
 nan,
 nan,
 'C22 C26',
 'C106',
 'B58 B60',
 nan,
 nan,
 nan,
 'E101',
 nan,
 'C22 C26',
 nan,
 'C65',
 nan,
 'E36',
 'C54',
 'B57 B59 B63 B66',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C7',
 'E34',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C32',
 nan,
 'D',
 nan,
 'B18',
 nan,
 'C124',
 'C91',
 nan,
 nan,
 nan,
 'C2',
 'E40',
 nan,
 'T',
 'F2',
 'C23 C25 C27',
 nan,
 nan,
 nan,
 'F33',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C128',
 nan,
 nan,
 nan,
 nan,
 'E33',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D37',
 nan,
 nan,
 'B35',
 'E50',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C82',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B96 B98',
 nan,
 nan,
 'D36',
 'G6',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C78',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E10',
 'C52',
 nan,
 nan,
 nan,
 'E44',
 'B96 B98',
 nan,
 nan,
 'C23 C25 C27',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'A34',
 nan,
 nan,
 nan,
 'C104',
 nan,
 nan,
 'C111',
 'C92',
 nan,
 nan,
 'E38',
 'D21',
 nan,
 nan,
 'E12',
 nan,
 'E63',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D',
 nan,
 'A14',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B49',
 nan,
 'C93',
 'B37',
 nan,
 nan,
 nan,
 nan,
 'C30',
 nan,
 nan,
 nan,
 'D20',
 nan,
 'C22 C26',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B79',
 'C65',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E25',
 nan,
 nan,
 'D46',
 'F33',
 nan,
 nan,
 nan,
 'B73',
 nan,
 nan,
 'B18',
 nan,
 nan,
 nan,
 'C95',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B38',
 nan,
 nan,
 'B39',
 'B22',
 nan,
 nan,
 nan,
 'C86',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C70',
 nan,
 nan,
 nan,
 nan,
 nan,
 'A16',
 nan,
 'E67',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C101',
 'E25',
 nan,
 nan,
 nan,
 nan,
 'E44',
 nan,
 nan,
 nan,
 'C68',
 nan,
 'A10',
 nan,
 'E68',
 nan,
 'B41',
 nan,
 nan,
 nan,
 'D20',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'A20',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C125',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'F4',
 nan,
 nan,
 'D19',
 nan,
 nan,
 nan,
 'D50',
 nan,
 'D9',
 nan,
 nan,
 'A23',
 nan,
 'B50',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B35',
 nan,
 nan,
 nan,
 'D33',
 nan,
 'A26',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D48',
 nan,
 nan,
 'E58',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C126',
 nan,
 'B71',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B51 B53 B55',
 nan,
 'D49',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B5',
 'B20',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C68',
 'F G63',
 'C62 C64',
 'E24',
 nan,
 nan,
 nan,
 nan,
 nan,
 'E24',
 nan,
 nan,
 'C90',
 'C124',
 'C126',
 nan,
 nan,
 'F G73',
 'C45',
 'E101',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E8',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B5',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B101',
 nan,
 nan,
 'D45',
 'C46',
 'B57 B59 B63 B66',
 nan,
 nan,
 'B22',
 nan,
 nan,
 'D30',
 nan,
 nan,
 'E121',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B77',
 nan,
 nan,
 nan,
 'B96 B98',
 nan,
 'D11',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E77',
 nan,
 nan,
 nan,
 'F38',
 nan,
 nan,
 'B3',
 nan,
 'B20',
 'D6',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B82 B84',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D17',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B96 B98',
 nan,
 nan,
 nan,
 'A36',
 nan,
 nan,
 'E8',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B102',
 nan,
 nan,
 nan,
 nan,
 'B69',
 nan,
 nan,
 'E121',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B28',
 nan,
 nan,
 nan,
 nan,
 nan,
 'E49',
 nan,
 nan,
 nan,
 'C47',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C92',
 nan,
 nan,
 nan,
 'D28',
 nan,
 nan,
 nan,
 'E17',
 nan,
 nan,
 nan,
 nan,
 'D17',
 nan,
 nan,
 nan,
 nan,
 'A24',
 nan,
 nan,
 nan,
 'D35',
 'B51 B53 B55',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C50',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B42',
 nan,
 'C148',
 nan]

## semantic

In [37]:
from avatar.transformations.semantic import WordToNumber

In [57]:
import itertools

list(itertools.product(*words))

[('alfa',
  'audi',
  'bmw',
  'chevrolet',
  'dodge',
  'honda',
  'isuzu',
  'jaguar',
  'mazda',
  'benz',
  'mercury',
  'mitsubishi',
  'nissan',
  'peugot',
  'plymouth',
  'porsche',
  'renault',
  'saab',
  'subaru',
  'toyota',
  'volkswagen',
  'volvo'),
 ('alfa',
  'audi',
  'bmw',
  'chevrolet',
  'dodge',
  'honda',
  'isuzu',
  'jaguar',
  'mazda',
  'mercedes',
  'mercury',
  'mitsubishi',
  'nissan',
  'peugot',
  'plymouth',
  'porsche',
  'renault',
  'saab',
  'subaru',
  'toyota',
  'volkswagen',
  'volvo'),
 ('romero',
  'audi',
  'bmw',
  'chevrolet',
  'dodge',
  'honda',
  'isuzu',
  'jaguar',
  'mazda',
  'benz',
  'mercury',
  'mitsubishi',
  'nissan',
  'peugot',
  'plymouth',
  'porsche',
  'renault',
  'saab',
  'subaru',
  'toyota',
  'volkswagen',
  'volvo'),
 ('romero',
  'audi',
  'bmw',
  'chevrolet',
  'dodge',
  'honda',
  'isuzu',
  'jaguar',
  'mazda',
  'mercedes',
  'mercury',
  'mitsubishi',
  'nissan',
  'peugot',
  'plymouth',
  'porsche',
  'renault',
  'saab',
  'subaru',
  'toyota',
  'volkswagen',
  'volvo')]

In [59]:
display(WordToNumber.arguments(automobile[5]))
display(WordToNumber.arguments(automobile[4]))

w = WordToNumber()
w(automobile[5])

[()]

[]

       5
0    2.0
1    2.0
2    2.0
3    4.0
4    4.0
..   ...
200  4.0
201  4.0
202  4.0
203  4.0
204  4.0

[205 rows x 1 columns]

## type

### numerical

Can only apply if column contains numerical data.

In [54]:
from avatar.transformations.type import Numerical

Numerical.arguments(nba.HEIGHT)

[]

In [55]:
Numerical.arguments(nba.WEIGHT)

AttributeError: Can only use .str accessor with string values!

In [158]:
nba.WEIGHT.dtype

dtype('int64')

In [159]:
nba.FG3_PCT.dtype

dtype('float64')

In [163]:
def p(v: str):
    return v + "_"

automobile.brand.map(p)

0      alfa-romero_
1      alfa-romero_
2      alfa-romero_
3             audi_
4             audi_
           ...
200          volvo_
201          volvo_
202          volvo_
203          volvo_
204          volvo_
Name: brand, Length: 205, dtype: category
Categories (22, object): [alfa-romero_, audi_, bmw_, chevrolet_, ..., subaru_, toyota_, volkswagen_, volvo_]

In [164]:
automobile.brand.str.split("-")

0      [alfa, romero]
1      [alfa, romero]
2      [alfa, romero]
3              [audi]
4              [audi]
            ...
200           [volvo]
201           [volvo]
202           [volvo]
203           [volvo]
204           [volvo]
Name: brand, Length: 205, dtype: object

## encoding

Change encoding of variables.

In [6]:
from avatar.transformations.encoding import OneHot, NaN

In [64]:
OneHot.arguments(automobile[2])

True

[()]

In [8]:
NaN.arguments(automobile[2])

toyota 32
nissan 18
mazda 17
mitsubishi 13
honda 13
subaru 12
volkswagen 12
volvo 11
peugot 11
dodge 9
mercedes-benz 8
bmw 8
audi 7
plymouth 7
saab 6
porsche 5
isuzu 4
alfa-romero 3
chevrolet 3
jaguar 3
renault 2
mercury 1

[('alfa-romero',),
 ('audi',),
 ('bmw',),
 ('chevrolet',),
 ('dodge',),
 ('honda',),
 ('isuzu',),
 ('jaguar',),
 ('mazda',),
 ('mercedes-benz',),
 ('mercury',),
 ('mitsubishi',),
 ('nissan',),
 ('peugot',),
 ('plymouth',),
 ('porsche',),
 ('renault',),
 ('saab',),
 ('subaru',),
 ('toyota',),
 ('volkswagen',),
 ('volvo',)]

In [10]:
NaN.arguments(automobile[1])

[('?',),
 ('161',),
 ('91',),
 ('150',),
 ('128',),
 ('104',),
 ('134',),
 ('74',),
 ('65',),
 ('102',),
 ('103',),
 ('168',),
 ('95',),
 ('85',),
 ('94',),
 ('148',),
 ('118',),
 ('122',),
 ('106',),
 ('93',),
 ('83',),
 ('125',),
 ('115',),
 ('137',),
 ('154',),
 ('101',),
 ('119',),
 ('129',),
 ('192',),
 ('87',),
 ('194',),
 ('164',),
 ('89',),
 ('81',),
 ('158',),
 ('153',),
 ('113',),
 ('110',),
 ('145',),
 ('188',),
 ('197',),
 ('108',)]